* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}
h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  width: 200px;
  height: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
/* my_css_contnet */
.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em 1em;
}

@media only screen and (max-width: 500px) {
  h1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .btn {
    width: 150px;
    height: 150px;
  }
}
